@tailwind base;
@tailwind components;
@tailwind utilities;

/* Настройка цвета выделения текста (под стиль индиго) */
::selection {
  background-color: rgba(99, 102, 241, 0.3); /* Цвет indigo-500 с прозрачностью */
  color: #f8fafc;
}

/* =========================================
   Кастомный скроллбар для боковых панелей
   ========================================= */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

.backdrop-blur-xl {
  -webkit-backdrop-filter: blur(24px) !important;
  backdrop-filter: blur(24px) !important;
}

.backdrop-blur-md {
  -webkit-backdrop-filter: blur(12px) !important;
  backdrop-filter: blur(12px) !important;
}

.backdrop-blur-2xl {
  -webkit-backdrop-filter: blur(40px) !important;
  backdrop-filter: blur(40px) !important;
}

/* Скрываем стандартные стрелочки у input type="number" */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield; /* Добавьте эту строку */
  }

